{% extends "base.html" %}

{% block content %}

 <div class="card mt-5 mx-5">
        <div class="card-body bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="custom-form-container col-12 col-lg-10 p-4">
                        <h1 class="my-4">Hexlet Telegram Stats</h1>
                        <h4>Проект онлайн-школы программирования Хекслет, призван сделать администрирование телеграм каналов легким, эффективным и приятным</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}